@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('assets/projects_img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    /* background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .5s ease-in;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar > a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
/*HEADER DONE*/
.main {
    padding: 6rem 10% 0;
}

.project {
    margin: 1rem auto;
    width: 80%;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .30), 0 11px 8px rgba(0, 0, 0, .22);
    margin-bottom: 20px;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    border-radius: 13px;
    overflow: hidden;
}

.project-img {
    width: 100%;
    height: auto;
}

.project-title {
    color: #fff;
    padding: 13px;
}

.project-description {
    color: #fff;
    padding: 13px;
}

.footer {
    margin: 1rem auto;
    width: 80%;
    text-align: center;
}

/*BREAK POINTS*/
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
    /*HEADER DONE*/
    .main {
        padding: 6rem 5% 0;
    }
    .footer {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .logo {
        font-size: 1.3rem;
    }
    .icons {
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon {
        display: none;
    }
    .icons #close-icon {
        display: none;
    }
    #check:checked~.icons #close-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar {
        height: 10.7rem;
    }
    .navbar > a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
    /*HEADER DONE*/
}